body{
    height: 100%;
    overflow-y: hidden;
}
.loginPage{
    background-color: white;
    box-shadow: 2px 3px 6px rgb(106, 11, 129);
    margin: 13rem auto;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    padding: 3rem;
    row-gap: 15px;
    color:rgb(122, 18, 122);
    
    margin-top: -20px;
}

.but{
    margin-top: 23px;
    color:white;
    background-color: rgb(74, 4, 71);
    padding: 13px 43px;
    border-radius: 23px;
}
